In [1]:
import pandas as pd

# Obtaining the postal codes

In [2]:
wiki_url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

I will read all the tables on that web page and check, which ones to keep

In [42]:
df = pd.read_html(wiki_url)

In [6]:
len(df)

3

In [7]:
df[0].head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [8]:
df[1].head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,NaN,Canadian postal codes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...,NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...,NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NL,NS,PE,NB,QC,QC,QC,ON,ON,ON,ON,ON,MB,SK,AB,BC,NU/NT,YT
3,A,B,C,E,G,H,J,K,L,M,N,P,R,S,T,V,X,Y

In [9]:
df[2].head()

   0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15     16  17
0  NL  NS  PE  NB  QC  QC  QC  ON  ON  ON  ON  ON  MB  SK  AB  BC  NU/NT  YT
1   A   B   C   E   G   H   J   K   L   M   N   P   R   S   T   V      X   Y

From here, the first dataframe caontains the required information, so I will drop the rest

In [43]:
df = df[0]

Drop the records where Borough is not assigned

In [44]:
df = df.loc[df['Borough'] != 'Not assigned',:]

Fill the missing Neighborhoods

In [45]:
df.loc[pd.isnull(df['Neighborhood']),:]

Empty DataFrame
Columns: [Postal code, Borough, Neighborhood]
Index: []

Looks like there are no such cases, so no conversion is required

Now we need to group matching postal codes

In [37]:
def merger(names):
    unique_names = []
    for name in names:
        if name in unique_names:
            continue
        else:
            unique_names.append(name)
    return ', '.join(unique_names)

In [46]:
df = df.groupby(['Postal code'], as_index=False).agg(merger)

In [47]:
df.shape

(103, 3)